.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.seccion {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.producto-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.producto-imagen {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.producto-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto-nombre {
  font-weight: bold;
}

.producto-precio {
  color: var(--main-green-color);
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.metodo-pago .item-pago {
  display: flex;
  border-radius: 0.375rem;
  margin-bottom: 10px;
}

.btn-comprar {
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.375rem;
}

.btn-comprar:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.procesando,
.exito,
.error,
.carrito-vacio {
  text-align: center;
  padding: 20px;
}


.spinner {
  font-size: 40px;
  animation: girar 1s infinite linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.exito {
  background: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.error {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.total {
  text-align: right;
  padding: 15px;
  border-top: 2px solid #eee;
  margin-top: 10px;
  font-size: 18px;
}

