.card-img{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 30%);
    width: 50% !important;
    margin-top: -20px;
    margin-bottom: -10px;
    height: 250px;
    object-fit: cover;
}

/* Animación de carga */
.spinner-container {
    text-align: center;
    padding: 40px;
  }
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto 15px;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }